[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = git@github.com:romainDavaze/hugo-goa.git
[submodule "public"]
	path = public
	url = git@github.com:romainDavaze/romaindavaze.github.io.git
	branch = origin/master
